---
import "../styles/global.css";
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";

const pageTitle = "Acceuil";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/logo.jpg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{pageTitle}</title>
	</head>
	<body>
        <Header pageTitle="Bienvenue sur mon site web !" />
		<div class="h-full bg-gray-400"><p>Test</p></div>
		<Footer username="SamSamKDBX" />
	</body>
</html>
