---
import "../styles/global.css";
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import PreviewSection from "../components/PreviewSection.astro";
import Carrousel from "../components/Carrousel.astro";

const pageSubTitle = "Acceuil";
const pageTitle = "SamSamKDBX - " + pageSubTitle;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/jpg" href="/src/assets/samsamkdbx-pp.jpg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{pageTitle}</title>
  </head>
  <body>
    <Header pageTitle="Bienvenue sur mon site web !" />

    <!-- ######################### -->
    <!-- # Section preview about # -->
    <!-- ######################### -->
    <PreviewSection
      href="/posts/post-1"
      title="À propos de moi"
      subTitle="Je vous dois bien une présentation en bonne et due forme."
      description="Salut, moi c'est Samuel, mais mes amis m'appellent SamSam. Je suis passionné par l'informatique depuis que j'ai fait un stage incroyable (du moins pour moi à l'époque) avec un ami et voisin. Eh oui je parle de toi Jeey ! Bref. Tout ça pour dire que j'aime faire joujou avec un ordinateur, autant vous dire que c'était pas le plus probable avec des parents écolos avec qui je vivais en yourte... mais bon, ça m'a pas empêcher de me lancer sur cette voie."
    >
      <img
        slot="right"
        src="/src/assets/default.webp"
        class="h-full w-full object-cover"
        alt=""
      />
    </PreviewSection>

    <!-- ######################## -->
    <!-- # Section preview blog # -->
    <!-- ######################## -->
    <PreviewSection
      href="/blog/"
      title="Blog"
      subTitle="Lisez les articles que j'ai pris plaisir à écrire !"
      description="J'espère que vous aimez lire, parce que j'ai l'intention d'écrire tout un tas de choses. Mais si la lecture ne vous intéresse pas, ne vous en faites pas, quelqu'un d'autre s'en chargera :p"
    >
      <Carrousel
        slot="right"
        items={[
          {
            src: "/src/assets/default.webp",
            title: "Article 1",
            alt: "Lire l'article 1",
            subTitle: "Sous-titre 1",
            description: "Description 1",
            href: "/posts/post-1",
          },
        ]}
      />
    </PreviewSection>

    <!-- ############################ -->
    <!-- # Section preview projects # -->
    <!-- ############################ -->
    <PreviewSection
      href="/projects/"
      title="Projets"
      subTitle="Découvrez les projets d'un passionné de l'informatique !"
      description="Si vous aussi vous êtes passionné(e) d'informatique et de technologies, ou que vous êtes simplement curieux(se), cette section vous devrait vous plaire. N'hésitez pas à venir explorer les supers projets que j'ai réalisé (ou pas encore)."
    >
      <Carrousel
        slot="right"
        items={[
          {
            src: "/src/assets/default.webp",
            title: "Article 1",
            subTitle: "Sous-titre 1",
            description: "Description 1",
            href: "/posts/post-1",
          },
        ]}
      />
    </PreviewSection>

    <Footer />
  </body>
</html>
