---
import "../styles/global.css";
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";

const pageSubTitle = "Projets";
const pageTitle = "SamSamKDBX - " + pageSubTitle;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
		<link rel="icon" type="image/jpg" href="/src/assets/logo.jpg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{pageTitle}</title>
  </head>
  <body>
    <Header pageTitle={pageSubTitle} />

    <h2>Mes projets terminés</h2>
    <h2>... ou pas encore !</h2>

		<!-- Section carousel des articles -->

    <Footer />
  </body>
</html>
