---
import "../styles/global.css";
import Social from "./Social.astro";
const { username } = Astro.props;
---

<footer class="flex flex-col text-center bg-blue-500 gap-2 p-2">
  <p>2026 SamSamKDBX</p>
  <p>&copy; Tous droits réservés</p>
  <div class="flex flex-row justify-center items-center gap-2">
    <Social platform="github" username={username} />
    <Social platform="instagram" username={username} />
  </div>
</footer>
