---
import "../styles/global.css";
import Navigation from "./Navigation.astro";
const { pageTitle } = Astro.props;
---

<header>
  <div class="grid grid-flow-col grid-rows-3 gap-0.5">
    <a
      href="/"
      class="size-min row-span-2 p-1 text-4xl font-medium ui-hover ui-hover-bg"
    >
      SamSamKDBX
    </a>
    <h2 class="row-span-1 ml-2">{pageTitle}</h2>
    <Navigation />
  </div>
</header>
