---
import "../styles/global.css";
const { displayName, href } = Astro.props;
---

<a
  class="px-4 py-2 font-bold hover:text-white/70 focus:text-blue-500 ui-hover ui-hover-bg"
  href={href}
>
  {displayName}
</a>
