---
import "../styles/global.css";
import Link from "./Link.astro";
---

<nav class="row-span-3">
  <div class="h-full items-center place-items-center grid grid-flow-col">
    <Link href="/" displayName="Accueil" />
    <Link href="/posts/post-1/" displayName="À propos" />
    <Link href="/blog/" displayName="Mon blog" />
    <Link href="/projects/" displayName="Mes projets" />
  </div>
</nav>
