---
type Props = {
  href: string;
  title: string;
  subTitle?: string;
  description?: string;
};

const { href, title, subTitle, description } = Astro.props;
---

<a href={href} class="ui-hover">
  <section
    class="grid grid-cols-2 m-5 h-100 rounded-md overflow-hidden"
  >
    <div class="size-full p-4">
      <div class="h-1/3">
        <h1>{title}</h1>
        {subTitle && <h2 class="p-1 italic">{subTitle}</h2>}
      </div>

      {description && <p class="p-1 size-auto content-center text-justify wrap-anywhere">{description}</p>}
    </div>

    <!-- Partie droite remplaçable -->
    <div class="h-full w-full">
      <slot name="right" />
    </div>
  </section>
</a>
